:root {
  --_colors-primitive-0-値: rgb(1 75 44);
  --_colors-primitive-10-値: rgb(2 113 67);
  --_colors-primitive-20-値: rgb(2 150 89);
  --_colors-primitive-30-値: rgb(3 188 111);
  --_colors-primitive-40-値: rgb(49 201 138);
  --_colors-primitive-50-値: rgb(95 215 165);
  --_colors-primitive-60-値: rgb(140 228 191);
  --_colors-primitive-70-値: rgb(163 235 205);
  --_colors-primitive-80-値: rgb(186 242 218);
  --_colors-primitive-90-値: rgb(209 248 232);
  --_colors-primitive-blue-0-値: rgb(32 59 76);
  --_colors-primitive-blue-10-値: rgb(47 89 113);
  --_colors-primitive-blue-20-値: rgb(63 118 151);
  --_colors-primitive-blue-30-値: rgb(79 148 189);
  --_colors-primitive-blue-40-値: rgb(114 169 202);
  --_colors-primitive-blue-50-値: rgb(163 202 221);
  --_colors-primitive-blue-60-値: rgb(185 212 229);
  --_colors-primitive-blue-70-値: rgb(202 223 235);
  --_colors-primitive-blue-80-値: rgb(220 234 242);
  --_colors-primitive-blue-90-値: rgb(237 244 248);
  --_colors-primitive-gray-0-値: rgb(34 34 34);
  --_colors-primitive-gray-10-値: rgb(56 56 56);
  --_colors-primitive-gray-100-値: rgb(255 255 255);
  --_colors-primitive-gray-20-値: rgb(78 78 78);
  --_colors-primitive-gray-30-値: rgb(100 100 100);
  --_colors-primitive-gray-40-値: rgb(122 122 122);
  --_colors-primitive-gray-50-値: rgb(145 145 145);
  --_colors-primitive-gray-60-値: rgb(167 167 167);
  --_colors-primitive-gray-70-値: rgb(219 219 219);
  --_colors-primitive-gray-80-値: rgb(211 211 211);
  --_colors-primitive-gray-90-値: rgb(233 233 233);
  --_colors-primitive-green-0-値: rgb(1 75 44);
  --_colors-primitive-green-10-値: rgb(2 113 67);
  --_colors-primitive-green-20-値: rgb(2 150 89);
  --_colors-primitive-green-30-値: rgb(3 188 111);
  --_colors-primitive-green-40-値: rgb(49 201 138);
  --_colors-primitive-green-50-値: rgb(95 215 165);
  --_colors-primitive-green-60-値: rgb(140 228 191);
  --_colors-primitive-green-70-値: rgb(163 235 205);
  --_colors-primitive-green-80-値: rgb(186 242 218);
  --_colors-primitive-green-90-値: rgb(209 248 232);
  --_colors-primitive-opacity-black-10-値: rgba(34, 34, 34, 0.1);
  --_colors-primitive-opacity-black-20-値: rgba(34, 34, 34, 0.2);
  --_colors-primitive-opacity-black-30-値: rgba(34, 34, 34, 0.3);
  --_colors-primitive-opacity-black-40-値: rgba(34, 34, 34, 0.4);
  --_colors-primitive-opacity-black-50-値: rgba(34, 34, 34, 0.5);
  --_colors-primitive-opacity-black-60-値: rgba(34, 34, 34, 0.6);
  --_colors-primitive-opacity-black-70-値: rgba(34, 34, 34, 0.7);
  --_colors-primitive-opacity-black-80-値: rgba(34, 34, 34, 0.8);
  --_colors-primitive-opacity-black-90-値: rgba(34, 34, 34, 0.9);
  --_colors-primitive-opacity-white-10-値: rgba(255, 255, 255, 0.1);
  --_colors-primitive-opacity-white-20-値: rgba(255, 255, 255, 0.2);
  --_colors-primitive-opacity-white-30-値: rgba(255, 255, 255, 0.3);
  --_colors-primitive-opacity-white-40-値: rgba(255, 255, 255, 0.4);
  --_colors-primitive-opacity-white-50-値: rgba(255, 255, 255, 0.5);
  --_colors-primitive-opacity-white-60-値: rgba(255, 255, 255, 0.6);
  --_colors-primitive-opacity-white-70-値: rgba(255, 255, 255, 0.7);
  --_colors-primitive-opacity-white-80-値: rgba(255, 255, 255, 0.8);
  --_colors-primitive-opacity-white-90-値: rgba(255, 255, 255, 0.9);
  --_colors-primitive-orange-0-値: rgb(96 53 22);
  --_colors-primitive-orange-10-値: rgb(144 79 33);
  --_colors-primitive-orange-20-値: rgb(192 106 44);
  --_colors-primitive-orange-30-値: rgb(240 132 55);
  --_colors-primitive-orange-40-値: rgb(243 157 95);
  --_colors-primitive-orange-50-値: rgb(246 181 135);
  --_colors-primitive-orange-60-値: rgb(249 206 175);
  --_colors-primitive-orange-70-値: rgb(251 218 195);
  --_colors-primitive-orange-80-値: rgb(252 230 215);
  --_colors-primitive-orange-90-値: rgb(254 243 235);
  --_colors-primitive-red-0-値: rgb(90 0 2);
  --_colors-primitive-red-10-値: rgb(135 1 3);
  --_colors-primitive-red-20-値: rgb(180 1 4);
  --_colors-primitive-red-30-値: rgb(225 1 5);
  --_colors-primitive-red-40-値: rgb(231 52 55);
  --_colors-primitive-red-50-値: rgb(237 103 105);
  --_colors-primitive-red-60-値: rgb(243 153 155);
  --_colors-primitive-red-70-値: rgb(246 179 180);
  --_colors-primitive-red-80-値: rgb(249 204 205);
  --_colors-primitive-red-90-値: rgb(252 230 230);
  --_colors-theme-danger-0: rgb(90 0 2);
  --_colors-theme-danger-10: rgb(135 1 3);
  --_colors-theme-danger-20: rgb(180 1 4);
  --_colors-theme-danger-30: rgb(225 1 5);
  --_colors-theme-danger-40: rgb(231 52 55);
  --_colors-theme-danger-50: rgb(237 103 105);
  --_colors-theme-danger-60: rgb(243 153 155);
  --_colors-theme-danger-70: rgb(246 179 180);
  --_colors-theme-danger-80: rgb(249 204 205);
  --_colors-theme-danger-90: rgb(252 230 230);
  --_colors-theme-dark-opacity-10: rgba(34, 34, 34, 0.1);
  --_colors-theme-dark-opacity-20: rgba(34, 34, 34, 0.2);
  --_colors-theme-dark-opacity-30: rgba(34, 34, 34, 0.3);
  --_colors-theme-dark-opacity-40: rgba(34, 34, 34, 0.4);
  --_colors-theme-dark-opacity-50: rgba(34, 34, 34, 0.5);
  --_colors-theme-dark-opacity-60: rgba(34, 34, 34, 0.6);
  --_colors-theme-dark-opacity-70: rgba(34, 34, 34, 0.7);
  --_colors-theme-dark-opacity-80: rgba(34, 34, 34, 0.8);
  --_colors-theme-dark-opacity-90: rgba(34, 34, 34, 0.9);
  --_colors-theme-light-opacity-10: rgba(255, 255, 255, 0.1);
  --_colors-theme-light-opacity-20: rgba(255, 255, 255, 0.2);
  --_colors-theme-light-opacity-30: rgba(255, 255, 255, 0.3);
  --_colors-theme-light-opacity-40: rgba(255, 255, 255, 0.4);
  --_colors-theme-light-opacity-50: rgba(255, 255, 255, 0.5);
  --_colors-theme-light-opacity-60: rgba(255, 255, 255, 0.6);
  --_colors-theme-light-opacity-70: rgba(255, 255, 255, 0.7);
  --_colors-theme-light-opacity-80: rgba(255, 255, 255, 0.8);
  --_colors-theme-light-opacity-90: rgba(255, 255, 255, 0.9);
  --_colors-theme-neutral-0: rgb(34 34 34);
  --_colors-theme-neutral-10: rgb(56 56 56);
  --_colors-theme-neutral-100: rgb(255 255 255);
  --_colors-theme-neutral-20: rgb(78 78 78);
  --_colors-theme-neutral-30: rgb(100 100 100);
  --_colors-theme-neutral-40: rgb(122 122 122);
  --_colors-theme-neutral-50: rgb(145 145 145);
  --_colors-theme-neutral-60: rgb(167 167 167);
  --_colors-theme-neutral-70: rgb(219 219 219);
  --_colors-theme-neutral-80: rgb(211 211 211);
  --_colors-theme-neutral-90: rgb(233 233 233);
  --_colors-theme-primary-0: rgb(32 59 76);
  --_colors-theme-primary-10: rgb(47 89 113);
  --_colors-theme-primary-20: rgb(63 118 151);
  --_colors-theme-primary-30: rgb(79 148 189);
  --_colors-theme-primary-40: rgb(114 169 202);
  --_colors-theme-primary-50: rgb(163 202 221);
  --_colors-theme-primary-60: rgb(185 212 229);
  --_colors-theme-primary-70: rgb(202 223 235);
  --_colors-theme-primary-80: rgb(220 234 242);
  --_colors-theme-primary-90: rgb(237 244 248);
  --_colors-theme-secondary-0: rgb(96 53 22);
  --_colors-theme-secondary-10: rgb(144 79 33);
  --_colors-theme-secondary-20: rgb(192 106 44);
  --_colors-theme-secondary-30: rgb(240 132 55);
  --_colors-theme-secondary-40: rgb(243 157 95);
  --_colors-theme-secondary-50: rgb(246 181 135);
  --_colors-theme-secondary-60: rgb(249 206 175);
  --_colors-theme-secondary-70: rgb(251 218 195);
  --_colors-theme-secondary-80: rgb(252 230 215);
  --_colors-theme-secondary-90: rgb(254 243 235);
  --_colors-theme-success-0: rgb(1 75 44);
  --_colors-theme-success-10: rgb(2 113 67);
  --_colors-theme-success-20: rgb(2 150 89);
  --_colors-theme-success-30: rgb(3 188 111);
  --_colors-theme-success-40: rgb(49 201 138);
  --_colors-theme-success-50: rgb(95 215 165);
  --_colors-theme-success-60: rgb(140 228 191);
  --_colors-theme-success-70: rgb(163 235 205);
  --_colors-theme-success-80: rgb(186 242 218);
  --_colors-theme-success-90: rgb(209 248 232);
  --_colors-theme-色: rgba(255, 255, 255, 0.7);
  --_space-primitive-0: 0;
  --_space-primitive-100: 100;
  --_space-primitive-120: 120;
  --_space-primitive-140: 140;
  --_space-primitive-16: 16;
  --_space-primitive-180: 180;
  --_space-primitive-220: 220;
  --_space-primitive-24: 24;
  --_space-primitive-260: 260;
  --_space-primitive-32: 32;
  --_space-primitive-4: 4;
  --_space-primitive-40: 40;
  --_space-primitive-48: 48;
  --_space-primitive-56: 56;
  --_space-primitive-64: 64;
  --_space-primitive-72: 72;
  --_space-primitive-8: 8;
  --_space-primitive-80: 80;
  --_typography-primitive-font-size-12: 12px;
  --_typography-primitive-font-size-120: 120px;
  --_typography-primitive-font-size-14: 14px;
  --_typography-primitive-font-size-140: 140px;
  --_typography-primitive-font-size-16: 16px;
  --_typography-primitive-font-size-160: 160px;
  --_typography-primitive-font-size-20: 20px;
  --_typography-primitive-font-size-24: 24px;
  --_typography-primitive-font-size-32: 32px;
  --_typography-primitive-font-size-40: 40px;
  --_typography-primitive-font-size-48: 48px;
  --_typography-primitive-font-size-62: 62px;
  --_typography-primitive-font-size-76: 76px;
  --_typography-primitive-font-size-94: 94px;
  --_typography-primitive-font-style-en: Bebas Neue;
  --_typography-primitive-font-style-jp: Noto Sans;
  --_typography-primitive-font-weight-bold: Bold;
  --_typography-primitive-font-weight-nomal: Regular;
  --_typography-primitive-letter-spacing-1: 1;
  --_typography-primitive-letter-spacing-2: 2;
  --_typography-primitive-letter-spacing-3: 3;
  --_typography-primitive-line-height-100: 1;
  --_typography-primitive-line-height-110: 1.1;
  --_typography-primitive-line-height-120: 1.2;
  --_typography-primitive-line-height-130: 1.3;
  --_typography-primitive-line-height-140: 1.4;
  --_typography-primitive-line-height-150: 1.5;
  --_typography-primitive-line-height-160: 1.6;
  --_typography-primitive-line-height-170: 1.7;
  --border-radius-infinity: 999px;
  --border-radius-lg: 24px;
  --border-radius-md: 16px;
  --border-radius-none: 0px;
  --border-radius-sm: 8px;
  --border-radius-width-lg: 4px;
  --border-radius-width-md: 3px;
  --border-radius-width-none: 0px;
  --border-radius-width-sm: 2px;
  --border-radius-width-xl: 5px;
  --border-radius-width-xs: 1px;
  --border-radius-xl: 32px;
  --border-radius-xs: 4px;
  --breakpoint-breakpoint-desktop: DeskTop;
  --breakpoint-breakpoint-mobile: Mobile;
  --breakpoint-visual-height-desktop: 1600px;
  --breakpoint-visual-height-mobile: 800px;
  --breakpoint-width-desktop: 1728px;
  --breakpoint-width-mobile: 430px;
  --colors-semantic-background-black: rgb(34 34 34);
  --colors-semantic-background-btn-primary-disabled: rgb(167 167 167);
  --colors-semantic-background-btn-primary-enabled: rgb(79 148 189);
  --colors-semantic-background-btn-primary-hover: rgb(63 118 151);
  --colors-semantic-background-btn-secondary-disabled: rgb(167 167 167);
  --colors-semantic-background-btn-secondary-enabled: rgb(255 255 255);
  --colors-semantic-background-btn-secondary-hover: rgb(219 219 219);
  --colors-semantic-background-dashboard: rgb(233 233 233);
  --colors-semantic-background-default: rgb(56 56 56);
  --colors-semantic-background-gray: rgb(100 100 100);
  --colors-semantic-background-opacity-default: rgba(255, 255, 255, 0.8);
  --colors-semantic-background-opacity-heavy: rgba(255, 255, 255, 0.3);
  --colors-semantic-background-opacity-middle: rgba(255, 255, 255, 0.6);
  --colors-semantic-background-opacity-thin: rgba(255, 255, 255, 0.9);
  --colors-semantic-background-primary: rgb(79 148 189);
  --colors-semantic-background-scondary: rgb(163 202 221);
  --colors-semantic-background-star: rgb(243 157 95);
  --colors-semantic-background-subtle: rgb(100 100 100);
  --colors-semantic-background-thin: rgb(255 255 255);
  --colors-semantic-background-white: rgb(255 255 255);
  --colors-semantic-border-btn-primary-enabled: rgb(79 148 189);
  --colors-semantic-border-btn-seconday-enabled: rgb(34 34 34);
  --colors-semantic-border-default: rgb(211 211 211);
  --colors-semantic-border-heavy: rgb(34 34 34);
  --colors-semantic-border-middle: rgb(145 145 145);
  --colors-semantic-border-thin: rgb(255 255 255);
  --colors-semantic-border-white: rgb(255 255 255);
  --colors-semantic-logo-accent: rgb(163 202 221);
  --colors-semantic-logo-main: rgb(79 148 189);
  --colors-semantic-logo-white: rgb(255 255 255);
  --colors-semantic-mode: light;
  --colors-semantic-text-black: rgb(34 34 34);
  --colors-semantic-text-btn-brand-text: rgb(79 148 189);
  --colors-semantic-text-btn-primary-text: rgb(255 255 255);
  --colors-semantic-text-btn-scondary-text: rgb(34 34 34);
  --colors-semantic-text-danger: rgb(225 1 5);
  --colors-semantic-text-default: rgb(34 34 34);
  --colors-semantic-text-gray: rgb(100 100 100);
  --colors-semantic-text-placeholder: rgb(167 167 167);
  --colors-semantic-text-primary: rgb(79 148 189);
  --colors-semantic-text-scondary: rgb(163 202 221);
  --colors-semantic-text-subtle: rgb(100 100 100);
  --colors-semantic-text-success: rgb(3 188 111);
  --colors-semantic-text-thin: rgb(255 255 255);
  --colors-semantic-text-white: rgb(255 255 255);
  --opacity-semantic-100: 1;
  --opacity-semantic-30: 0.3;
  --opacity-semantic-50: 0.5;
  --opacity-semantic-70: 0.7;
  --space-semantic-10xl: 260px;
  --space-semantic-2xl: 64px;
  --space-semantic-2xs: 16px;
  --space-semantic-3xl: 72px;
  --space-semantic-3xs: 8px;
  --space-semantic-4xl: 80px;
  --space-semantic-4xs: 4px;
  --space-semantic-5xl: 100px;
  --space-semantic-6xl: 120px;
  --space-semantic-7xl: 140px;
  --space-semantic-8xl: 180px;
  --space-semantic-9xl: 220px;
  --space-semantic-lg: 48px;
  --space-semantic-md: 40px;
  --space-semantic-none: 0px;
  --space-semantic-sm: 32px;
  --space-semantic-xl: 56px;
  --space-semantic-xs: 24px;
  --typography-semantic-en-font-style: Bebas Neue;
  --typography-semantic-font-style: Noto Sans;
}

.dark {
  --colors-semantic-background-black: rgb(34 34 34);
  --colors-semantic-background-btn-primary-disabled: rgb(167 167 167);
  --colors-semantic-background-btn-primary-enabled: rgb(240 132 55);
  --colors-semantic-background-btn-primary-hover: rgb(192 106 44);
  --colors-semantic-background-btn-secondary-disabled: rgb(167 167 167);
  --colors-semantic-background-btn-secondary-enabled: rgb(56 56 56);
  --colors-semantic-background-btn-secondary-hover: rgb(78 78 78);
  --colors-semantic-background-dashboard: rgb(233 233 233);
  --colors-semantic-background-default: rgb(233 233 233);
  --colors-semantic-background-gray: rgb(100 100 100);
  --colors-semantic-background-opacity-default: rgba(34, 34, 34, 0.8);
  --colors-semantic-background-opacity-heavy: rgba(34, 34, 34, 0.3);
  --colors-semantic-background-opacity-middle: rgba(34, 34, 34, 0.6);
  --colors-semantic-background-opacity-thin: rgba(34, 34, 34, 0.9);
  --colors-semantic-background-primary: rgb(240 132 55);
  --colors-semantic-background-scondary: rgb(246 181 135);
  --colors-semantic-background-star: rgb(243 157 95);
  --colors-semantic-background-subtle: rgb(219 219 219);
  --colors-semantic-background-thin: rgb(34 34 34);
  --colors-semantic-background-white: rgb(255 255 255);
  --colors-semantic-border-btn-primary-enabled: rgb(240 132 55);
  --colors-semantic-border-btn-seconday-enabled: rgb(255 255 255);
  --colors-semantic-border-default: rgb(78 78 78);
  --colors-semantic-border-heavy: rgb(255 255 255);
  --colors-semantic-border-middle: rgb(145 145 145);
  --colors-semantic-border-thin: rgb(34 34 34);
  --colors-semantic-border-white: rgb(255 255 255);
  --colors-semantic-logo-accent: rgb(240 132 55);
  --colors-semantic-logo-main: rgb(255 255 255);
  --colors-semantic-logo-white: rgb(255 255 255);
  --colors-semantic-mode: dark;
  --colors-semantic-text-black: rgb(34 34 34);
  --colors-semantic-text-btn-brand-text: rgb(240 132 55);
  --colors-semantic-text-btn-primary-text: rgb(255 255 255);
  --colors-semantic-text-btn-scondary-text: rgb(255 255 255);
  --colors-semantic-text-danger: rgb(237 103 105);
  --colors-semantic-text-default: rgb(255 255 255);
  --colors-semantic-text-gray: rgb(100 100 100);
  --colors-semantic-text-placeholder: rgb(167 167 167);
  --colors-semantic-text-primary: rgb(240 132 55);
  --colors-semantic-text-scondary: rgb(246 181 135);
  --colors-semantic-text-subtle: rgb(219 219 219);
  --colors-semantic-text-success: rgb(163 235 205);
  --colors-semantic-text-thin: rgb(34 34 34);
  --colors-semantic-text-white: rgb(255 255 255);
}
