@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@/app/styles/_tokens.css';
@import '@/app/styles/_animations.css';
@import '@/app/styles/_pages.css';

:root {
  --background: var(--colors-semantic-background-thin);
  --foreground: var(--colors-semantic-text-default);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--colors-semantic-background-thin);
    --foreground: var(--colors-semantic-text-default);
  }
}

.dark {
  --background: var(--colors-semantic-background-thin);
  --foreground: var(--colors-semantic-text-default);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    var(--font-roboto),
    var(--font-noto-sans-jp),
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
}

@utility text-balance {
  text-wrap: balance;
}
